CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
examples/CMakeFiles/
examples/Makefile
examples/cmake_install.cmake
examples/cpp/CMakeFiles/
examples/cpp/Makefile
examples/cpp/bejeweled
examples/cpp/cmake_install.cmake
examples/cpp/whackamole
interfaces/python/build/
interfaces/python/src/sikuli/libsikuli.py
interfaces/python/src/sikuli/sikuli-python_wrap.cxx
interfaces/python/src/sikuli/sikuli-python_wrap.h
lib/libsikuli.a
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/config.h
src/libsikuli.a
src/test/CMakeFiles/
src/test/Makefile
src/test/cmake_install.cmake